<div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">
  <cmail-header></cmail-header>
  <main class="mdl-layout__content">
    <div class="page-content">
      <div class="mdl-grid">

        <form [formGroup]="formCadastro" (ngSubmit)="cadastrarUsuario()">

          <ul *ngIf="mensagensErro" class="mdl-textfield is-invalid">
            <li *ngFor="let erro of mensagensErro" class="mdl-textfield__error">
              {{erro.message}}: {{erro.value}}
            </li>
          </ul>

          <cmail-form-group label="Nome" id-campo="nome"
          [validation]="(nome.dirty || nome.touched) && nome.invalid">
            <input type="text" required name="nome" formControlName="nome" cmailFormField>
            <span *ngIf="nome.getError('required')" class="mdl-textfield__error">Informe o nome</span>
          </cmail-form-group>

          <cmail-form-group label="Username" id-campo="username"
          [validation]="(username.dirty || username.touched) && username.invalid">
            <input type="text" required name="username" formControlName="username" cmailFormField>
            <span *ngIf="username.getError('required')" class="mdl-textfield__error">Informe o user name</span>
            <span *ngIf="username.getError('minlength')" class="mdl-textfield__error">
              O username precisa ter no mínimo {{username.getError('minlength').requiredLength}} caracteres
            </span>
          </cmail-form-group>

          <cmail-form-group label="Senha" id-campo="senha"
          [validation]="(senha.dirty || senha.touched) && senha.invalid">
            <input type="password" required name="senha" formControlName="senha" cmailFormField>
            <span class="mdl-textfield__error">Informe a senha</span>
          </cmail-form-group>

          <cmail-form-group label="Telefone" id-campo="telefone"
          [validation]="(telefone.dirty || telefone.touched) && telefone.invalid">
            <input type="tel" required name="telefone" formControlName="telefone" cmailFormField>
            <span class="mdl-textfield__error">Informe o telefone</span>
          </cmail-form-group>

          <cmail-form-group label="Avatar" id-campo="avatar"
          [validation]="(avatar.dirty || avatar.touched) && avatar.invalid">
            <input type="text" required name="avatar" formControlName="avatar" cmailFormField>
            <div *ngIf="avatar.status === 'PENDING'" class="mdl-textfield__error mdl-textfield__checking">
              Checking...
            </div>
            <div *ngIf="avatar.status === 'VALID'" class="mdl-textfield__error mdl-textfield__valid">
              URL válida!
            </div>
            <div *ngIf="avatar.getError('urlInvalida')" class="mdl-textfield__error">
              URL inválida!
            </div>
            <div *ngIf="avatar.getError('required')" class="mdl-textfield__error">
              Informe a url do avatar
            </div>
          </cmail-form-group>

          <div class="mdl-card__actions">
            <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent">
              Cadastrar
            </button>
          </div>
          
        </form>
      </div>
    </div>
  </main>
</div>