<div class="mdl-layout mdl-js-layout">
  <main class="mdl-layout__content">
    <div class="page-content">
      <div class="mdl-grid">
        <article class="demo-card-wide mdl-card mdl-shadow--2dp">
          <header class="mdl-card__title">
            <h1 class="mdl-card__title-text">Bem vindos/as ao CMail!</h1>
          </header>

          <form [formGroup]="formLogin" (ngSubmit)="fazerLogin()" 
          autocomplete="off" class="mdl-card__supporting-text">

            <cmail-form-group label="Email" id-campo="email"
            [validation]="(email.dirty || email.touched) && email.invalid">
              <input type="email" name="email" formControlName="email" cmailFormField required
                autofocus>
              <span class="mdl-textfield__error" *ngIf="email.invalid">
                Informe um e-mail
              </span>
            </cmail-form-group>

            <cmail-form-group label="Senha" id-campo="senha"
            [validation]="(senha.dirty || senha.touched) && senha.invalid">
              <input type="password" name="senha" formControlName="senha" cmailFormField required>
              <span class="mdl-textfield__error" *ngIf="senha.invalid">
                Informe uma senha
              </span>
            </cmail-form-group>

            <div class="mdl-card__actions mdl-card--border">
              <a routerLink="cadastro" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
                Primeiro login? Cadastre-se!
              </a>
              <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent entrar">
                Entrar
              </button>
            </div>
          </form>

        </article>
      </div>
    </div>
  </main>
</div>